<input type="text" class="form-control" (input)="onInputName($event)">
<button type="button" (click)="onGet()">Submit</button>

        <!-- <h1>Total Count :: {{packet.total_count?}}</h1> -->

        <!-- <select class='select-option' required [(ngModel)]='optionSelected' (ngModelChange)='onOptionsSelected($event)'>
            <option class='option' *ngFor='let option of options' [value]="option">{{option}}</option>
           </select>
   
   
           <div>
              <th [class.active]="order === 'login'"
              (click)="setOrder('login')"
              class="mdl-data-table__cell--non-numeric"> Name 
              <span [hidden]="reverse">▼</span>
              <span [hidden]="!reverse">▲</span>
          </th>
          
          <th [class.active]="order === 'score'"
            (click)="setOrder('score')"
            class="mdl-data-table__cell--non-numeric"> Rank 
            <span [hidden]="reverse">▼</span>
            <span [hidden]="!reverse">▲</span>
          </th>
           </div> -->
           <!-- | orderBy: order:reverse:'case-insensitive' -->

 <div class="panel panel-primary" *ngFor="let user of usersArray |paginate: { itemsPerPage: 10, currentPage: p }"  >
    
    <app-display-user [user]="user"></app-display-user>
    
</div> 

<pagination-controls (pageChange)="p = $event"></pagination-controls>