<div class="panel-heading pointerCursor">
    <h3 class="panel-title">{{user.login}}</h3>
  </div>
  <div class="panel-body">
    <div class="col-xs-10">
      <div class="row vertical-align">

        <div class="col-xs-4">
           <img  class="img-responsive" src={{user.avatar_url}} style="max-height: 150px;"/>
        </div>

        <div class="col-xs-8">
           <div class="row">
             <div class="col-xs-6">
              <h1> Profile URL:</h1>
             </div>
             <div class="col-xs-6">
               <h3>:  {{user.url}} </h3> 
               </div>
           </div>

           <div class="row">
               <div class="col-xs-6">
                 <h1>Score:</h1>
               </div>
               <div class="col-xs-6">
                  <h3>{{user.score}} </h3> 
                 </div>
             </div>
             <div class="row">
                 <div class="col-xs-6">
                  <h1>Site Admin:</h1> 
                 </div>
                 <div class="col-xs-6">
                    <h3>: {{user.site_admin}} </h3>
                   </div>
               </div>
              
               
               <!-- <p *ngIf="!showDetails">
                  <input type="button" value="Hide Details" (click)="onHideDetails()" style="float: right;">
                 </p> -->
                 
                    <!-- <input type="button" value="Show Details" (click)="onHideDetails()" style="float: right;"> -->
                   
               
               <input type="button" value="Show/Hide Details" (click)="onShowHideDetails()" style="float: right;">
               <div *ngIf="showDetails">
                 <app-display-repo  [user]="user"></app-display-repo>
               </div>
                
              
        </div>
   
    </div>

  </div>
</div>