<div class="panel panel-primary" *ngFor="let repo of repos">
   
        <div class="col-xs-8">
                <div class="row">
                  <div class="col-xs-6">
                    Repository Name ::  {{repo.name}}  Repository Language :: {{repo.language}} 
                  </div>
                  <div class="col-xs-6">
                    
                    </div>
                </div>
             </div>
        
</div> 

    
           
               
           
            
        