
<h1 >Repository Details  ::</h1>
<div align="right"> <pagination-controls (pageChange)="p = $event"></pagination-controls></div>
<div  *ngFor="let repo of repos |paginate: { itemsPerPage: 2, currentPage: p }">
   
        <div class="col-xs-8">
                <div class="row">
                  <div class="col-xs-6">
                   <h3>Repository Name ::  {{repo.name}}  Repository Language :: {{repo.language}} </h3> 
                   <h3> </h3>
                  </div>
                  <div class="col-xs-6">
                    
                    </div>
                </div>
             </div>

             
            
</div> 


    
           
               
           
            
        